{:kotoba.app/id "cloud.itonami.isic-4530", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibacwi2si4lf26oaird3y6jux5phr32ufebcj3lt4labarbb7snvq", :kotoba.app/embed-url "ipfs://bafkreibacwi2si4lf26oaird3y6jux5phr32ufebcj3lt4labarbb7snvq", :published {:archive "https://kotobase.net/ipfs/bafkreibacwi2si4lf26oaird3y6jux5phr32ufebcj3lt4labarbb7snvq", :size 72593, :put-status 201, :get-status 200, :at "2026-08-15T13:44:41.307Z"}}
